<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/cis9557__baseline/blob/main/DataWranglingIMDb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Cleansing Approach    


**A shared resource for the discovery and cleansing steps to consider when working with datasets for Data Mining.  Not every step may need to be processed in each situation, but it is valuable to consider every step and whether it is applicable.**


Prepared by Professor Patrck, Spring 2022; updates: 2023, 2024, 2025.

This notebook contains the following sections:  
  
I.  Example Approach - Data Cleansing: IMDb Movie Dataset  
  
II. Practice Exercise



---

##I. Example Approach - Data Cleansing: IMDb Movie Dataset

Each problem and the data sources considered will raise unique considerations but there are several typical steps to data extraction, discovery, and transformation which are helpful to consider.    

The following is derived from the work of Anmol Tomar in CodeX, entitled "[Every Data Analysis in 10 steps!  Adding structure to your data analysis!](https://medium.com/codex/every-data-analysis-in-10-steps-960dc7e7f00b)"

**This notebook extends the ten (10) steps in the original article by Anmol Tomar into 13 steps (to include steps related to duplicate rows and the transformation/wrangling of data elements.**

###File Upload

**IMDB Dataset**    

For  illustration purposes, this analysis uses the Kaggle IMDB dataset for the top 1000 movies to understand the features/traits of top IMDB movies by applying a 10 step-process.    *The Kaggle file used in this notebook differs from the source file used by Anmol Tomar in the article referenced above.*  

A copy of the file is hosted on Professor Patrick's GitHub and can be accsed with `!curl` to upload a copy to the `content` folder in Colab.

In [ ]:
!curl "https://raw.githubusercontent.com/ProfessorPatrickSlatraigh/data/main/IMDB_top_1000.csv" -o imdb_top_1000.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  343k  100  343k    0     0   702k      0 --:--:-- --:--:-- --:--:--  704k

<i>After execution of the line of code above, there should be a copy of CSV file <b>`imdb_top_1000.csv`</b> in the current working directory.</i>

###Import Packages    

The load, discovery, and transformation steps will only require that the `pandas` and `matplotlib` packages be imported.    

To add functionality to data tables in Colab, import `data_table` from `google.colab`.

In [ ]:
# import our packages
import pandas as pd
import matplotlib.pyplot as plt

from google.colab import data_table
data_table.enable_dataframe_formatter()

###Read the Data into a Dataframe

In [ ]:
# reading the data
df_movies =  pd.read_csv('imdb_top_1000.csv')

###1. Summarize the Columns

In [ ]:
# summary of the columns
df_movies.describe(include = 'all')

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
count,1007.000000,1007,980,1007,1007,1007.000000,715.000000,1007,1007,1007
unique,NaN,398,11,114,130,NaN,NaN,398,398,398
top,NaN,302. Throne of Blood (1957),R,110 min,Drama,NaN,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...,"Votes: 45,579"
freq,NaN,9,348,42,100,NaN,NaN,9,9,9
mean,502.951341,NaN,NaN,NaN,NaN,8.097021,80.983217,NaN,NaN,NaN
std,290.756996,NaN,NaN,NaN,NaN,0.169114,9.804518,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,8.000000,61.000000,NaN,NaN,NaN
25%,251.500000,NaN,NaN,NaN,NaN,8.000000,73.000000,NaN,NaN,NaN
50%,503.000000,NaN,NaN,NaN,NaN,8.000000,82.000000,NaN,NaN,NaN
75%,754.500000,NaN,NaN,NaN,NaN,8.100000,88.000000,NaN,NaN,NaN
max,999.000000,NaN,NaN,NaN,NaN,9.300000,100.000000,NaN,NaN,NaN

A detailed pivot table can be viewed as well to peruse the data.

In [ ]:
# query the detail in the dataframe
df_movies

###2. Data Types    

The next step is to do a sanity check of the data types of the columns of the dataframe. If there are some incorrect data types they can be corrected in this step.

In [ ]:
# check the datatypes
print(df_movies.dtypes)

The field `Duration` is a string (object data type) with the runtime in minutes followed by the term 'min'.  A new column can be generated for `runtime` as a float by assigning the result of a split of `Duration` and the transformation of the first element in the resulting list into a float.

In [ ]:
# Extract the numeric value of movie Duration to a new column Runtime
# df_movies[['Runtime', 'Unit']] = df_movies["Duration"].str.split(' ', 1, expand=True)

df_movies[['Runtime', 'Unit']] = df_movies["Duration"].str.split(' ', expand=True)

df_movies['Runtime'] = df_movies['Runtime'].astype(int)

del df_movies['Unit']

In [ ]:
# Query the dataframe after the transformation
df_movies["Runtime"]

In [ ]:
# Another approach would simply replace the `Duration` column in place with it's float value
# Transformting `Duration` into int

# >>> Remove the comment from the following line of code to try it
# df_movies['Duration'] = df_movies['Duration'].str.replace(' min','').astype(int)

In [ ]:
# Review the data types of each column again
df_movies.dtypes

###3. Find Missing Values    

The next step is to find the number of missing values across the columns of the dataframe. It‚Äôs important to understand the count of nulls so determine how best to treat them.

In [ ]:
# find nulls or missing values
df_movies.isnull().sum()

###4. Missing Values Treatment    

Using the count of missing values and any other descriptive statistics applicable, the next step is to treat the columns with missing values.    

For illustration purposes, the nulls are filled with the mean value of the columns, although there are more sophisticated methods of missing value treatment.

In [ ]:
# Replacing nulls with mean for numeric values and mode for categorical values

df_movies['Metascore'].fillna(df_movies['Metascore'].mean())

df_movies['Certificate'].fillna(df_movies['Certificate'].mode())

In [ ]:
df_movies.head()

###5. Find and Count Duplicates

The next step requires some context and/or intuition regarding the data.  On first inspection, there may be data which appears to be redundant but is actually categorical data.  Most data sources will not be normalized so this is often the case.  Later in this workbook there is an exercise on Transformations and Feature Extraction which discusses the fact that some categorical data may have data entry or other errors which require their own special treatment.    

Finding duplicates and wrangingling categorical data can sometimes be an iterative process of discovery, trial and error, then treatement.    

The initial activity in dealing with duplicates includes:    

1. Finding duplicates    
2. Counting duplicates    
3. Displaying duplicate rows with `loc`
3. Determining duplicates treatment     

The following snippets of code give examples of 1 and 2 above:

In [ ]:
# Finding duplicates across the dataframe
# Use the `.duplicated()` method
df_movies.duplicated()

In [ ]:
# To consider certain columns such as `Title` for identifying duplicates
df_movies.duplicated(subset=['Title'])

Pandas `duplicated()` returns a boolean Series. However, it is not practical to see a list of True and False when we need to perform some data analysis. The Pandas `loc` data selector can be used to extract those duplicate rows:

In [ ]:
# Use of `loc` allows us to see the rows that were identified by duplicated()
df_movies.loc[df_movies.duplicated(), :]

###6. Duplicates Treatment

There are two fundamental concepts in duplicate treament to consider:

1. Determing duplicates to retain with `keep`    
2. Dropping duplicates

**Retain duplicates with `keep`**

There is an argument `keep` in Pandas duplicated() to determine which duplicates to mark. `keep` defaults to 'first', which means the first occurrence gets kept, and all others get identified as duplicates.

In [ ]:
# `keep` defaults to 'first'
df_movies.loc[df_movies.duplicated(keep='first'), :]

An argument can be used to change it to 'last' keep the last occurrence and mark all others as duplicates.

In [ ]:
# `keep` defaults to 'last'
df_movies.loc[df_movies.duplicated(keep='last'), :]

There is a third option we can use `keep=False`. It marks all duplicates as True and allows viewing all duplicate rows.

In [ ]:
# There is a third option we can use 'keep=False'. It marks all duplicates as True
df_movies.loc[df_movies.duplicated(keep=False), :]

**Drop duplicates**    

The Pandas built-in method `drop_duplicates()` will drop duplicate rows.

In [ ]:
# Note the change in the number of rows before and after dropping duplicates
# It is not performed in place by default,
df_movies.drop_duplicates()

By default, this method returns a new DataFrame with duplicate rows removed. We can set the argument inplace=True to remove duplicates from the original DataFrame.

In [ ]:
# Note the change in the number of rows before and after dropping duplicates
# It is not performed in place by default, it can be changed it to in place by `inplace=True`df.drop_duplicates(inplace=True)
df_movies.drop_duplicates(inplace=True)

The argument keep can be set for `drop_duplicates()` as well to determine which duplicates to keep. It defaults to `'first'` to keep the first occurrence and drop all other duplicates.    


Similarly, `drop_duplicates` can be set `keep` to 'last' to keep the last occurrence and drop other duplicates.

In [ ]:
# Use keep='last' to keep the last occurrence
df_movies.drop_duplicates(keep='last')

`drop_duplicates` can also be set with `keep` assigned the value **False** to drop all duplicates.

In [ ]:
# To drop all duplicates
df_movies.drop_duplicates(keep=False)

**Considering certain columns for dropping duplicates**    


Similarly, to consider certain columns for dropping duplicates, pass a list of columns to the argument subset:

In [ ]:
# Similarly, we can consider a certain columns for dropping duplicates
df_movies.drop_duplicates(subset=['Title'])

... and do that in-place.

In [ ]:
# Consider a certain columns for dropping duplicates in-place
df_movies.drop_duplicates(subset=['Title'], inplace=True)

Invoking the `duplicated()` method will confirm that duplicate rows have been dropped.

In [ ]:
# Use of `loc` allows us to see the rows that were identified by duplicated()
df_movies.loc[df_movies.duplicated(), :]

###7. Analyze for Outliers    

The next step is to check for outliers. There are multiple ways of checking the outliers, the graphical method vis presented here. Two continuous variables (`Metascore` and `Runtime`) have been select to be checked for outliers by evaluating a histogram for each column.

In [ ]:
# Distribution of Metascores
plt.hist(df_movies['Metascore'],bins = 25)
plt.show()

In [ ]:
#check the minimum `Metascore`
df_movies['Metascore'].min()
# output : ?

In [ ]:
# Distribution of Runtimes
plt.hist(df_movies['Runtime'],bins = 25)
plt.show()

In [ ]:
#check the minimum `Runtime`
df_movies['Runtime'].min()
# output : ?

In [ ]:
#check the maximum `Runtime`
df_movies['Runtime'].max()
# output : ?

### 8. Outlier Treatment


The next step is to treat the outliers observed in the previous step. There are different ways of treating the outliers such as:     
1. Capping the minimum and maximum value limits
2. Removing the rows with outlier values   


Although there is nothing off with the distribution of Metascores, for illustration purposes, the minimum `Metascore` value is capped at 65.    


And with respect to the Runtimes, any rows with a `Runtime` in excess of 200 is deleted as are rows with a `Runtime` of less than 60.

In [ ]:
# Capping the minimum Metascore to 65
df_movies.loc[df_movies['Metascore'] < 65,'Metascore'] = 65

#check the minimum `Metascore`
df_movies['Metascore'].min()
# output : 65.0

The range of `Metascore` values can be evaluated again with a histogram.

In [ ]:
# Distribution of Metascores
plt.hist(df_movies['Metascore'],bins = 25)
plt.show()

Drop runtimes of less than 60 or greater than 200.    

*note the use of the* `|` *set operation to combine the results of each conditional test.*

In [ ]:
# Dropping any rows where Runtime exceeeds 200 or is below 60
df_movies.drop(df_movies[(df_movies.Runtime > 200) | (df_movies.Runtime < 60)].index, inplace=True)

In [ ]:
#check the minimum `Runtime`
df_movies['Runtime'].min()
# output : 60

In [ ]:
#check the maximum `Runtime`
df_movies['Runtime'].max()
# output : 200?

In [ ]:
# distribution of Runtimes
plt.hist(df_movies['Runtime'],bins = 25)
plt.show()

###9. Ask 'Who?'    


The next step to answer are questions related to people, members, stakeholders, etc.

In films, there are actors, directors, and cast members.  Some 'who' questions to raise could include:  

* Who has directed the most number of top IMDB movies? (univariate)    


* Who has acted in most top IMDB movies? (univariate)    


* Which Actor-Director combination has the most top IMDB movies? (bivariate)    


* Who provided the most music in top IMDB movies ? (Data not available)    


And More ‚Ä¶

*to use the code in the following snippet, extraction of data values from the `Cast` column would be required as a preliminary transformation.*

In [ ]:
### >>> The sample code here relies on columns in the original dataset used by Anmol Tomar
### >>> The columns required by the code in this snippet are not available in the Kaggle dataset

## Who has directed the most number of top IMDB movies ?
# df_movies.groupby(['Director']).agg({'Series_Title':'count'}).reset_index().rename(columns = {'Series_Title':'count'}).\
# sort_values('count',ascending = False).head(5)

## Who has acted in the most number of top movies
# df_movies.groupby(['Star1']).agg({'Series_Title':'count'}).reset_index().rename(columns = {'Series_Title':'count'}).\
# sort_values('count',ascending = False).head(5)

## Director - Actor works best
# df_movies.groupby(['Director','Star1'])['Series_Title'].count().reset_index().\
# rename(columns = {'Series_Title':'Count'}).sort_values('Count',ascending = False).head(5)

###10. Ask 'When?'    


The next step is to answer questions related to the time dimension (year, quarter, month, week, day, time-of-day, hour, minute, etc.)    

Considering film data, the following type of question could be asked:    


* Find the years with most movies in IMDB top 1000 ? (univariate)

*to use the code in the following snippet, extraction of data values from the `Title` column would be required as a preliminary transformation.*

In [ ]:
### >>> The sample code here relies on columns in the original dataset used by Anmol Tomar
### >>> The columns required by the code in this snippet are not available in the Kaggle dataset

## Finding years with most movies in top 1000
# year_dis = df_movies.groupby('Released_Year')['Series_Title'].count().reset_index().\
# rename(columns = {'Series_Title':'Count'}).sort_values('Count',ascending = False).head(10)

# plt.bar(year_dis['Released_Year'].astype(str), year_dis['Count'], width = 0.5)
# plt.xlabel('Years')
# plt.ylabel('Number of Movies')
# plt.title('Years with most movies in IMDB top 1000')
# plt.show()

###11. Ask 'Where?'    

The next step is to look at the things from the location or place perspective, for example, country, state, regions etc.  Geolocation can also be used in determing the 'where' attribute of data. For location features a variety of data elements may be used, including:    

* Formal country, region, jurisdiction decriptors (see ISO codes)    

* Postal codes

* Longitude and Lattitude (GPS coordinates)
>o may be express as degrees(¬∞), minutes('), seconds(")    
>o may be expressed as decimal values (which can be translated to ¬∞, ', ")  
> *note that there are 360¬∞ degrees around the earth, each minute' is 1/60th of a degree, and each second" is 1/60th of a minute -- akin to minutes and seconds as fractions of hours when measuring time*

* Mappings    
>o phone number country codes and areas codes may generally map to location    
>o IP address may map to location (consider VPN impacts)    


For film data, the following question could be posed:    


* Find countries with most movies in IMDB top 1000.


The dataset does not have the data to answer this question.   
Research should be as exhaustive as possible and not limited based on data availability.  Additional sources or enrichment approaches should be considered to answer pertinent questions.

###12. Ask 'What?  Which?  How?'    


The next and final step is formulating questions about aspects not covered in the first nine steps. These questions are not related to people, place, or time but everything apart from these. Formulating such questions can be quite subjective and takes some time and experience to develop intuition and a facility.

With respect to film data, such question might include:    

* Which genres are featured most in the top 1000?


* What is the duration of the top movies?


* What is the correlation between the rating and gross earning?


and more‚Ä¶

For illustration purposes, the first question is approached using the following code:

In [ ]:
## Which genres of film are featured most in top 1000 ?
genre_dis = df_movies.groupby('Genre')['Title'].count().reset_index().\
rename(columns = {'Title':'Count'}).sort_values('Count',ascending = False).head(5)
fig, ax = plt.subplots()
plt.bar(genre_dis['Genre'], genre_dis['Count'], width = 0.5)
plt.setp(ax.get_xticklabels(), rotation=30, horizontalalignment='right')
plt.show()



---

###13. Transformations and Features Extraction    

While some data may need to be sourced from additional research, there can be data embedded in compound/complex data types which through a process of analysis, and transformation may be extracted as useful features.  This process can utilize different tools and techniques, including:    

* **Regex** (Regular Expressions)    

* **NLP** (Natural Language Processing)    

* **Image** Detection (for image blobs)  


Once initial feature data is generated, it may need to be treated using the approach used for the raw data sourced, including:    

*  Find and treat missing values    

*  Find and treat outliers    

*  Find and treat duplicates    

*  Standardize/scrub categorical values (may be required to clean data)



---

##<font color='green'></b>II - PRACTICE EXERCISE</b></font>      
  

<font color='green'>Use regular expressions to derive the following features which can be used in the code provided by the original Anmol Tomar analysis, then execute the commented-out code to perform the analysis on the features extracted:</font>      
  
  
1. <font color='green'>**Director** (used when asking 'Who?')</font>      

2. <font color='green'>**Star1** (used when asking 'Who?')</font>        

3. <font color='green'>**Released_Year**  (used when asking 'When?')</font>    


<font color='green'>In addition, the following feature name should be changed in the original source code because the dataset used here refers to a feature `Title` not 'Series_Title`:</font>      

* <font color='green'>**Series_Title** (should be `Title`)</font>



---